/* (0) Stuff that you probably don't need to touch */
body, html {
	margin:0px; 
	font-family:sans-serif;
	font-size:15pt;
}

.poster-container {
	position: relative;
	display: inline-block;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.poster-container > img {
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.poster-bg {
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	z-index: -2;
}

.poster-links {
	position: absolute;
	top: 100%;
	left: 0px;
}

/* (1) Width and height of posters                           */
/*     [!] Leave it commented out if you want to use default */
.poster-container > img {
	/* Remove this line of code to comment width, height back in
	width:100px;
	height:100px;
	// */
}

/* (2) Padding of HTML body */
body {
	padding-top:50px;
	padding-right:50px;
	padding-bottom:50px;
	padding-left:50px;
}

/* (3) Black border container around each poster */
.poster-container {
	border-style: solid;
	border-color: black;
	border-width: 4px;
	border-radius: 3px;
	width: 270px;
	height:370px;
	/* Horizontal and vertical distances between containers */
	margin-right:30px;
	margin-bottom:50px; /* There must be enough space for the format links */
}

/* (4) Div that contains links for a given poster */
.poster-links {
	padding-top: 15px;
	padding-left: 0px;
}

/* (5) Each link (currently just one) */
.poster-links > a, .poster-links > a.visited {
	color: black;
	text-decoration: underline;
}

/* (6) Translation of the shifted background                   */
/*     [!] (horizontal px, vertical px)                        */
/*     [!] Just make sure the three lines have the same values */
.poster-bg {
	ms-transform: translate(10px, 10px);
	-webkit-transform: translate(10px, 10px);
	transform: translate(10px, 10px);
	border: 4px;
	border-radius: 3px;
}

/* (7) Shifted background colors */
#poster-bg-1 { background-color: #b9e3f0; opacity: 0.5;}
#poster-bg-2 { background-color: #b9e3f0; opacity: 0.5;}
#poster-bg-3 { background-color: #b9e3f0; opacity: 0.5;}
#poster-bg-4 { background-color: #b9e3f0; opacity: 0.5;}
#poster-bg-5 { background-color: #b9e3f0; opacity: 0.5;}

/* (8) Title */
h1 {

}


